In [3]:
from sympy.parsing.sympy_parser import parse_expr

In [2]:
parse_expr("0.3x + 3y", evaluate=True, local_dict={"x": 10, "y": 3, "z": 5}, transformations="all")

12

In [1]:
from graphs import graph

x = graph(graph="line", variables=["Goog"],
    expression_array = ["Goog = _avg(_GOOG(return, 10d, 1d))", "apple_return = _AAPL(adj_close, 10d)"],
    assets = ["GOOG", "AAPL"], backdate_period = 10)
# from expression import Expression
# expr = Expression(assets = ["GOOG"], str_expression = "_GOOG(return, 10d, 1d)")
# expr.evaluate(backdate=10)

TypeError: graph() missing 2 required positional arguments: 'assets' and 'backdate_period'

In [4]:
x = {"a": [1, 2, 3], "b": [3, 4, 5]}
import pandas as pd
y = pd.DataFrame(x)

In [18]:
from backdated import *

In [72]:
a = get_backdated_values(["x = _AAPL(return, 10d)"], ["AAPL"], 10, False)

In [1]:
from numericals import Numerical
nm = Numerical()

nm.get_historical_data(ticker="AAPL", period="10d", interval="1d", backdate=10)

                  open        high         low       close   adj_close  \
Date
2023-04-24  165.000000  165.600006  163.889999  165.330002  165.101639
2023-04-25  165.190002  166.309998  163.729996  163.770004  163.543793
2023-04-26  163.059998  165.279999  162.800003  163.759995  163.533798
2023-04-27  165.190002  168.559998  165.190002  168.410004  168.177383
2023-04-28  168.490005  169.850006  167.880005  169.679993  169.445618
2023-05-01  169.279999  170.449997  168.639999  169.589996  169.355743
2023-05-02  170.089996  170.350006  167.539993  168.539993  168.307190
2023-05-03  169.500000  170.919998  167.160004  167.449997  167.218704
2023-05-04  164.889999  167.039993  164.309998  165.789993  165.560989
2023-05-05  170.979996  174.300003  170.759995  173.570007  173.330261
2023-05-08  172.479996  173.850006  172.110001  173.500000  173.260345
2023-05-09  173.050003  173.539993  171.600006  171.770004  171.532745
2023-05-10  173.020004  174.029999  171.899994  173.559998  173.320267
2023-05-11  173.850006  174.589996  172.169998  173.750000  173.510010
2023-05-12  173.619995  174.059998  171.000000  172.570007  172.570007
2023-05-15  173.160004  173.210007  171.470001  172.070007  172.070007
2023-05-16  171.990005  173.139999  171.800003  172.070007  172.070007
2023-05-17  171.710007  172.929993  170.419998  172.690002  172.690002
2023-05-18  173.000000  175.240005  172.580002  175.050003  175.050003
2023-05-19  176.389999  176.389999  174.940002  175.160004  175.160004

               volume    return
Date
2023-04-24   41949600  0.001879
2023-04-25   48714100 -0.009436
2023-04-26   45498800 -0.000061
2023-04-27   64902300  0.028395
2023-04-28   55209200  0.007541
2023-05-01   52472900 -0.000530
2023-05-02   48425700 -0.006191
2023-05-03   65136000 -0.006467
2023-05-04   81235400 -0.009913
2023-05-05  113316400  0.046927
2023-05-08   55962800 -0.000403
2023-05-09   45326900 -0.009971
2023-05-10   53724500  0.010421
2023-05-11   49514700  0.001095
2023-05-12   45497800 -0.005418
2023-05-15   37266700 -0.002897
2023-05-16   42110300  0.000000
2023-05-17   57951600  0.003603
2023-05-18   65496700  0.013666
2023-05-19   55772400  0.000628

,open,high,low,close,adj_close,volume,return
Date,,,,,,,
2023-04-24,165.000000,165.600006,163.889999,165.330002,165.101639,41949600,0.001879
2023-04-25,165.190002,166.309998,163.729996,163.770004,163.543793,48714100,-0.009436
2023-04-26,163.059998,165.279999,162.800003,163.759995,163.533798,45498800,-0.000061
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300,0.028395
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200,0.007541
2023-05-01,169.279999,170.449997,168.639999,169.589996,169.355743,52472900,-0.000530
2023-05-02,170.089996,170.350006,167.539993,168.539993,168.307190,48425700,-0.006191
2023-05-03,169.500000,170.919998,167.160004,167.449997,167.218704,65136000,-0.006467
2023-05-04,164.889999,167.039993,164.309998,165.789993,165.560989,81235400,-0.009913
2023-05-05,170.979996,174.300003,170.759995,173.570007,173.330261,113316400,0.046927

In [76]:
import re
re.findall(r"[a-zA-Z]", '10wk')

['w', 'k']

In [23]:
from sympy import Matrix, parse_expr

m = Matrix([1, 2, 3])

parse_expr("m/m", local_dict={"m": m}, evaluate=True)

TypeError: unsupported operand type(s) for /: 'One' and 'MutableDenseMatrix'

In [1]:
from numericals import Numerical

numer = Numerical()
numer.get_historical_data("AAPL", "10d", "1d")

[*********************100%***********************]  1 of 1 completed

,open,high,low,close,adj_close,volume,return
Date,,,,,,,
2023-05-02,170.089996,170.350006,167.539993,168.539993,168.307190,48425700,-0.006191
2023-05-03,169.500000,170.919998,167.160004,167.449997,167.218704,65136000,-0.006467
2023-05-04,164.889999,167.039993,164.309998,165.789993,165.560989,81235400,-0.009913
2023-05-05,170.979996,174.300003,170.759995,173.570007,173.330261,113316400,0.046927
2023-05-08,172.479996,173.850006,172.110001,173.500000,173.260345,55962800,-0.000403
2023-05-09,173.050003,173.539993,171.600006,171.770004,171.532745,45326900,-0.009971
2023-05-10,173.020004,174.029999,171.899994,173.559998,173.320267,53724500,0.010421
2023-05-11,173.850006,174.589996,172.169998,173.750000,173.510010,49514700,0.001095
2023-05-12,173.619995,174.059998,171.000000,172.570007,172.570007,45497800,-0.005418
2023-05-15,173.160004,173.210007,171.470001,171.779999,171.779999,25535808,-0.004578

In [2]:
numer.get_historical_data("AAPL", "10d", "1d", backdate=2)

[*********************100%***********************]  1 of 1 completed

,open,high,low,close,adj_close,volume,return
Date,,,,,,,
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200,0.007541
2023-05-01,169.279999,170.449997,168.639999,169.589996,169.355743,52472900,-0.000530
2023-05-02,170.089996,170.350006,167.539993,168.539993,168.307190,48425700,-0.006191
2023-05-03,169.500000,170.919998,167.160004,167.449997,167.218704,65136000,-0.006467
2023-05-04,164.889999,167.039993,164.309998,165.789993,165.560989,81235400,-0.009913
2023-05-05,170.979996,174.300003,170.759995,173.570007,173.330261,113316400,0.046927
2023-05-08,172.479996,173.850006,172.110001,173.500000,173.260345,55962800,-0.000403
2023-05-09,173.050003,173.539993,171.600006,171.770004,171.532745,45326900,-0.009971
2023-05-10,173.020004,174.029999,171.899994,173.559998,173.320267,53724500,0.010421
2023-05-11,173.850006,174.589996,172.169998,173.750000,173.510010,49514700,0.001095

In [3]:
from expression import Expression

expr = Expression(assets=["AAPL"], str_expression="_avg(3)")
expr.evaluate()

evaluating complex expression
expression:  _avg(3)
innermost functions:  ['_avg(3)']
{'AAPLreturn10d1d_0': Matrix([
[-0.000530401841079775],
[ -0.00619142549107132],
[ -0.00646725620071475],
[ -0.00991345347068961],
[   0.0469269474632046],
[-0.000403367369252505],
[ -0.00997112231930308],
[   0.0104208753759483],
[  0.00109475392335234],
[ -0.00541756894991818]]), 'avgAAPLreturn10d1d0_0': 0.0019547981120475954}
avg3_0

3.00000000000000

In [10]:
from expressiontree import *

# solve_expression("3x^2 + AAPLreturn10d1d_0", variable_dict={"AAPLreturn10d1d_0": 10}  )
get_ordered_operations("3x^2 + AAPLreturn10d1d_0")

['x**2', '3*x**2', 'AAPLreturn10d1d_0 + 3*x**2']

In [10]:
from expressiontree import *

solve_expression("x *  30", {"x": Matrix([1, 2, 3]).T, "y": Matrix([2, 3, 4])})

Matrix([[30, 60, 90]])

In [51]:
# solve_expression("x + y + 100", {"x": 3, "y": 10})
get_ordered_operations("x + (y + 100)")

['x + y + 100']

In [4]:
import pandas as pd

len(pd.DataFrame())

0

In [15]:
from expression import Expression
expr = Expression(portfolio_assets = ["AAPL", "MSFT"], str_expression = "_max(_AAPL(return, 10d, 1d)) + 0.1")

try:
    result = expr.evaluate("this is the part of me")
except SyntaxError:
    pass

print(result)

NameError: name 'result' is not defined

In [4]:
from expressiontree import *
get_ordered_operations("x^(2y) + 3x + 7")

['2*y', 'x**(2*y)', '3*x', '3*x + x**(2*y) + 7']

In [26]:
from sympy import *

Matrix([1, 2, 2]) + 3

TypeError: cannot add <class 'sympy.matrices.dense.MutableDenseMatrix'> and <class 'int'>

In [8]:
def get_innermost_functions(str_expression, arguments_count):

    # The ",\s*\w+" extracts a single argument. We want to be flexible with the
    # number of arguments we can extract. For instance, if we wnat to extract
    # an inner function that accepts two arguments, the regex for that will
    # be r"\w+\(\w+\s*,\s*\w+\)". That is what we are doing here
    r = "".join([",\s*\w+\s*" for i in range(arguments_count-1)]) + r"\)"
    regex = r"\w+\(\s*\w+\s*" + r

    return re.findall(regex, str_expression)

what = get_innermost_functions(str_, 3)
what

NameError: name 'str_' is not defined

In [2]:
my_arr = ["AAPL", "What"]
what = ["_"+i for i in my_arr]
what

['_AAPL', '_What']

In [1]:
from expression import Expression
strr = "_AAPL(return, 1d) + _AAPL(return, 10d, 1d)"
expr = Expression(str_expression=strr, portfolio_assets=["AAPL", "MSFT"])
expr.evaluate()

[*********************100%***********************]  1 of 1 completed

'0.006432995866882063 + _AAPL(return, 10d, 1d)'

In [2]:
import yfinance as yf

what  = yf.download(tickers="AAPL", period="10d", interval="1d")
what = what.reset_index("Date")
what

from numericals import Numerical

nu = Numerical()
nu.get_historical_data(ticker="AAPL", period="10d", interval="1d", backdate=7)
nu.historical_data

[*********************100%***********************]  1 of 1 completed

,date,open,high,low,close,adj_close,volume,return
1,2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300,0.028395
2,2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200,0.007541
3,2023-05-01,169.279999,170.449997,168.639999,169.589996,169.355743,52472900,-0.000530
4,2023-05-02,170.089996,170.350006,167.539993,168.539993,168.307190,48425700,-0.006191
5,2023-05-03,169.500000,170.919998,167.160004,167.449997,167.218704,65136000,-0.006467
6,2023-05-04,164.889999,167.039993,164.309998,165.789993,165.560989,81235400,-0.009913
7,2023-05-05,170.979996,174.300003,170.759995,173.570007,173.330261,113316400,0.046927
8,2023-05-08,172.479996,173.850006,172.110001,173.500000,173.260345,55962800,-0.000403
9,2023-05-09,173.050003,173.539993,171.600006,171.770004,171.532745,45326900,-0.009971
10,2023-05-10,173.020004,174.029999,171.899994,173.559998,173.320267,53724500,0.010421
11,2023-05-11,173.850006,174.589996,172.169998,173.750000,173.510010,49514700,0.001095
12,2023-05-12,173.619995,174.059998,171.000000,172.570007,172.570007,45497800,-0.005418
13,2023-05-15,173.160004,173.210007,171.470001,172.070007,172.070007,37266700,-0.002897
14,2023-05-16,171.990005,173.139999,171.800003,172.070007,172.070007,42110300,0.000000
15,2023-05-17,171.710007,172.929993,170.419998,172.690002,172.690002,57951600,0.003603
16,2023-05-18,173.000000,175.240005,172.580002,175.050003,175.050003,65496700,0.013666
17,2023-05-19,176.389999,176.389999,174.940002,175.160004,175.160004,55772400,0.000628

In [8]:
from numericals import Numerical

numerical = Numerical()
data = numerical.get_historical_data("AAPL", period="2d", backdate=5)
data['date'] = data['date'].astype("datetime64[ns]")
data['date']

<ipython-input-8-b933f63de4ed>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['date'].astype("datetime64[ns]")

1   2023-05-11
2   2023-05-12
Name: date, dtype: datetime64[ns]

In [38]:
data['date'].dt.date > (datetime.today().date() - timedelta(days=10))

1    True
2    True
Name: date, dtype: bool

In [9]:
from sympy import Matrix

x = Matrix([1, 2, 3])
y = Matrix([4, 5, 6])
z = Matrix([x, y])
z = z.reshape(2, 3).transpose()
z

Matrix([
[1, 4],
[2, 5],
[3, 6]])

In [1]:
from expression import Expression
import re

expr = Expression(assets=["AAPL"], str_expression = "galdj")
a = expr.evaluate("_AAPL(return, 10d, 1d) - _mavg(_AAPL(return, 10d, 1d))")
a

Matrix([
[  -0.0106500112164236],
[  0.00974198647882777],
[ 0.000415865026231807],
[ -0.00609645784703871],
[ -0.00357626375241981],
[-0.000678888897120533],
[  0.00292426732300611],
[   0.0129872213408031],
[  -5.0493533316764e-5],
[  -0.0050172249225493]])

In [3]:
from scipy.optimize import linprog

obj = [-1, -2]
lhs_ineq = [[ 2,  1], [-4,  5], [ 1, -2]] 
rhs_ineq = [20, 10, 2]

lhs_eq = [[-1, 5]]
rhs_eq = [15]

In [63]:
import copy
def get_function_arguments(str_expr):
    expr = copy.deepcopy(str_expr)
    # We first find list like arguments. This might come when the function is called with
    # an expression that looks like this; _transpose([1, 2, 3]). Here, the function is
    # "_transpose". The argumetn is [1, 2, 3]. The variable "list_like_arguments" will end
    # up having a list of such variables, which for the case of "_transpose([1, 2,3]" will
    # be "[[1, 2, 3]]"
    regex_list_like = r'(\[+.*?\]+)'
    list_like_arguments = re.findall(regex_list_like, expr)

    # We then replace the list_like_arguments with a temporary id, so we don't have a problem
    # splitting the rest of the arguments using a comma
    temp_vals = {}
    for arg, i in zip(list_like_arguments, range(len(list_like_arguments))):
        temp_val = get_intermediate_results_id(str_expr, i)
        expr = expr.replace(arg, temp_val)
        temp_vals[temp_val] = arg

    arg_list = re.findall(r"(?<=\().+(?=\))", expr)[0].replace(" ", "").split(",")

    # for arg in arg_list:
    #     if arg in temp_vals:
    #         arg = temp_vals[arg]

    return [temp_vals[arg] if arg in temp_vals else arg for arg in arg_list]


def get_intermediate_results_id(str_expression, append):
    '''
    Takes in an expression such as "_AAPL(return, 5d) + _AAPL(return, 10d, 1d)" and returns
    "AAPLreturn5dAAPLreturn10d1d_1" assuming append = 1
    '''
    pattern = r'[^\w]|_'
    results_id = re.sub(pattern, "", str_expression) + "_" + str(append)

    return results_id

In [64]:
"_matrix([a, b, 4 + 6 + 7, [x, y, [4, 5, 6]]], [4, 5, 6], y)"get_function_arguments()

['[a, b, 4 + 6 + 7, [x, y, [4, 5, 6]]]', '[4, 5, 6]', 'y']

In [41]:
import re
r = r'\b\[[^\[\]]+\][^.]'
re.findall(r"^\s*(\[[\s\w\s,]*\])\s*$", "[1,   2, 3]")

['[1,   2, 3]']

In [14]:
from sympy import Matrix

len(Matrix([[1], [2], ]))

TypeError: object of type 'int' has no len()