In [3]:
from sympy.parsing.sympy_parser import parse_expr

In [2]:
parse_expr("0.3x + 3y", evaluate=True, local_dict={"x": 10, "y": 3, "z": 5}, transformations="all")

12

In [3]:
# from sympy import Abs
from sympy import *
from sympy.abc import x

parse_expr("max(1, 2, 3)", local_dict={"x": -10}, evaluate=True)

3

In [4]:
from numericals import Numerical

numerical = Numerical()

numerical.summarize_historical_data("AAPL")

[*********************100%***********************]  1 of 1 completed

{'period': '100d',
 'interval': '1d',
 'time_zone': None,
 'average_open': 150.29220054626464,
 'max_open': 173.0500030517578,
 'min_open': 126.01000213623047,
 'stdev_open': 12.932928708865637}

In [7]:
from expression import Expression

expr = Expression(str_expression="3x^2 + average(AAPL_return, 10d, 1m) * average(what, 5d, 1s)", variable_dict={"x": 10})
expr.evaluate("3x^2 + _average(AAPL_adj_close, 10d, 1d) * _average(MSFT_volume, 5d, 1d)")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

3389556823.191317

In [8]:
import re 

str_ = "what(and, now, this, thes(whatever_what, aver_age(now, its, tough), inner(this, is, it) 1d))"

In [8]:
def get_innermost_functions(str_expression, arguments_count):

    # The ",\s*\w+" extracts a single argument. We want to be flexible with the
    # number of arguments we can extract. For instance, if we wnat to extract
    # an inner function that accepts two arguments, the regex for that will
    # be r"\w+\(\w+\s*,\s*\w+\)". That is what we are doing here
    r = "".join([",\s*\w+\s*" for i in range(arguments_count-1)]) + r"\)"
    regex = r"\w+\(\s*\w+\s*" + r

    return re.findall(regex, str_expression)

what = get_innermost_functions(str_, 3)
what

NameError: name 'str_' is not defined

In [2]:
my_arr = ["AAPL", "What"]
what = ["_"+i for i in my_arr]
what

['_AAPL', '_What']

In [1]:
from expression import Expression
strr = "_AAPL(return, 1d)"
expr = Expression(str_expression=strr, portfolio_assets=["AAPL", "MSFT"])
expr.evaluate()

[*********************100%***********************]  1 of 1 completed

0.010304412700976151

In [12]:
simple_functions_used = expr.get_simple_functions()
simple_functions_used

{'_AAPL': ['_AAPL(return, 1d)']}

In [1]:
from numericals import Numerical

numerical = Numerical()
data = numerical.get_historical_data("AAPL", period="2d")
data

period:  3d
[*********************100%***********************]  1 of 1 completed

,open,high,low,close,adj_close,volume,return
Date,,,,,,,
2023-05-09,173.050003,173.539993,171.600006,171.770004,171.770004,45285300,-0.009971
2023-05-10,173.020004,174.029999,172.320007,173.670105,173.670105,21280764,0.011062

In [7]:
data = data.iloc[1:, :]
data

,open,high,low,close,adj_close,volume,return
Date,,,,,,,
2023-05-10,173.020004,174.029999,172.320007,173.744995,173.744995,21196692,0.011498

In [14]:

f_expression_results = {}
for f in simple_functions_used:
    for expression in simple_functions_used[f]:
        
        val = evaluate_simple_function(function_=f, expression=expression)
        f_expression_results[expression] = val

for key in f_expression_results:
    str_expression = str_expression.replace(key, str(f_expression_results[key]))

[*********************100%***********************]  1 of 1 completed

NameError: name 'str_expression' is not defined

In [6]:
import yfinance as yf

yf.download("AAPL", period="10d")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.410004,64902300
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.679993,55209200
2023-05-01,169.279999,170.449997,168.639999,169.589996,169.589996,52472900
2023-05-02,170.089996,170.350006,167.539993,168.539993,168.539993,48425700
2023-05-03,169.500000,170.919998,167.160004,167.449997,167.449997,65136000
2023-05-04,164.889999,167.039993,164.309998,165.789993,165.789993,81235400
2023-05-05,170.979996,174.300003,170.759995,173.570007,173.570007,113316400
2023-05-08,172.479996,173.850006,172.110001,173.500000,173.500000,55962800
2023-05-09,173.050003,173.539993,171.600006,171.770004,171.770004,45285300
2023-05-10,173.020004,174.029999,172.410004,172.545105,172.545105,16422476